h4 a {
    color:#fff;
}

h4 a:hover {
    color:#fff;
}

p a {
    color:#fff;
}

p a:hover {
    color:#fff;
}

.small-desc{
  font-size: 13px !important;
  line-height: 1.3 !important;
  margin-top: 15px;
  opacity: 0.8;
}

@media (min-width: 180px) {
  p {
      font-size:13px;
      color:#fff;
      line-height:1;
  }

  h4 {
      font-size:18px;
  }
  .demo-title {
      margin-bottom:0px;
  }    

}



@media (min-width: 480px) {
    
p {
    font-size:18px;
    color:#fff;
    line-height:1;
}
h4 {
    font-size:18px;
}
.demo-title {
    margin-bottom:5px;

}
 
}


@media (min-width: 768px) {
    
p {
    font-size:18px;
    color:#fff;
    line-height:1;
}
h4 {
    font-size:24px;
}

.demo-title {
    margin-bottom:60px;
}

}

@media (min-width: 992px) {
    
p {
    font-size:18px !important;
    color:#fff;
    line-height:0 !important;
}

.demo-title {
    margin-bottom:60px;
}
    
}







#home-demo {
	background-color: #121212;
	background-position: center 0%;
	background-size: cover;
	background-repeat: repeat;
	background-attachment: fixed;
	background-image: url(../img/bg_1.jpg);
	display: table;
	width: 100%;
	height: 100%;
	
	overflow-x: hidden;
	overflow-y: hidden;
	vertical-align: middle;
	z-index: 1;
}
.demo-overlay {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-image: url(../img/pattern.png);
    background-attachment: fixed;
	background-repeat: repeat-x repeat-y;
	background-color: rgba(44,62,80,0.6);
	z-index: 2;
    overflow: auto;
	
}
.home-container {
	position: relative;
	display: table-cell;
	vertical-align: middle;
	z-index: 3;
}